<%= render "layout" %>

<ol class="breadcrumb">
    <div class="links">
        <%= link_to survey_path(@survey), method: :delete, class: "btn-round btn-round-md btn-round-danger" do %>
            <%= material_icon.delete_forever %>
        <% end %>
    </div>
    <li>
        <%= link_to "Surveys", survey_index_path %>
    </li>
    <li>
        <%= link_to @survey, survey_path(@survey) %>
    </li>
    <li class="active">Edit Survey</li>
</ol>

<h4 class="text-md-blue">Survey Details</h4>
<%= bootstrap_form_for @survey, url: {action: 'update'} do |f| %>
    <div class="panel panel-default">
        <div class="panel-body">
            <%= f.text_field :title, class: "form-control" %>
            <%= f.text_area :description, class: "form-control", rows: 4 %>
            <%= f.submit class: "btn btn-orange" %>
        </div>
    </div>
<% end %>
