<%= render "layout" %>

<ol class="breadcrumb">
    <div class="links">
        <%= link_to new_survey_path, class: 'btn-round btn-round-md btn-round-primary' do %>
            <%= material_icon.add.md_24 %>
        <% end %>
    </div>
    <li>
        <%= link_to "Surveys", survey_index_path %>
    </li>
    <li class="active">All Surveys</li>
</ol>

<div class="row">
    <% @surveys.each do |survey| %>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="survey-panel">
                <%= link_to survey_path(survey.id) do %>
                    <div class="survey-panel-header">
                        <%= survey.title %>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-body text-center text-muted">
                            <center>
                                <div class="bubble bubble-<%= survey.active ? survey.status : 'expired' %>">
                                    <%= survey.active ? survey.status.capitalize : 'Expired' %>
                                </div>
                            </center>
                            <p>
                                <%= survey.description %>
                            </p>
                            <hr />
                            <h5 class="text-light-grey">Not Sent</h5>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    <% end %>
</div>
