<%= render "layout" %>

<div id="content-right">
    <h5 class="text-light-grey">Latest Activity</h5>
    <ul>
        <li>
            <div class="date">
                11/22 @ 10:56am
            </div>
            <div class="subject">
                Response to survey
            </div>
            <div class="details">
                <a href="#">Jack Morgan</a> responded.
            </div>
        </li>
        <li>
            <div class="date">
                11/22 @ 08:22am
            </div>
            <div class="subject">
                Response to survey
            </div>
            <div class="details">
                <a href="#">Corey Phillips</a> responded.
            </div>
        </li>
        <li>
            <div class="date">
                11/22 @ 07:56am
            </div>
            <div class="subject">
                Response to survey
            </div>
            <div class="details">
                <a href="#">Linda Jones</a> responded.
            </div>
        </li>
        <li>
            <div class="date">
                11/21 @ 09:05pm
            </div>
            <div class="subject">
                Created survey
            </div>
            <div class="details">
                You created the <a href="#">CFA Catering</a> survey.
            </div>
        </li>
    </ul>
</div>

<div id="content-left">
    <ol class="breadcrumb">
        <div class="links">
            <%= link_to edit_survey_path(@survey), class: 'btn-round btn-round-md btn-round-primary' do %>
                <%= material_icon.edit %>
            <% end %>
        </div>
        <li>
            <%= link_to "Surveys", survey_index_path %>
        </li>
        <li class="active">
            <%= @survey.title %>
        </li>
    </ol>

    <div class="pull-right bubble bubble-sm bubble-<%= @survey.active ? 'active' : 'expired' %>">
        <%= @survey.active ? 'Active' : 'Expired' %>
    </div>
    <h3 class="text-md-blue" style="margin: 40px 0px 30px 0px;">
        <%= @survey.title %>
    </h3>

    <ul class="nav nav-tabs nav-justified">
        <li class="active"><a href="#overview" data-toggle="tab">Overview</a></li>
        <li><a href="#questions" data-toggle="tab">Questions</a></li>
        <li><a href="#responses" data-toggle="tab">Responses</a></li>
        <li><a href="#participants" data-toggle="tab">Participants</a></li>
    </ul>

    <div class="tab-content" style="margin-top: 30px;">
        <div class="tab-pane fade in active" id="overview">
            <h4 class="text-md-blue">Description</h4>
            <%= @survey.description %>
            <br /><br />
            <h4 class="text-md-blue">Analysis</h4>
            <div class="row">
                <div class="col-sm-6">
                    <div id="js-response" style="width: 100%; height: 275px;"></div>
                </div>
                <div class="col-sm-6">
                    <div id="js-email" style="width: 100%; height: 275px;"></div>
                </div>
            </div>
        </div>

        <!-- questions -->
        <div class="tab-pane fade" id="questions">
            <h4 class="text-md-blue">
                <div class="pull-right" style="margin-top: -5px;">
                    <%= link_to new_survey_question_path, class: 'btn-round btn-round-md btn-round-primary' do %>
                        <%= material_icon.add %>
                    <% end %>
                </div>
                Questions
            </h4>
            <% @survey.questions.each_with_index do |question, i| %>
                <div style="margin-bottom: 10px; border: 1px dashed #c2c2c2; padding: 0px 10px;">
                    <div class="pull-left text-center" style="font-size: 1.8em; width: 20px; color: #ddd;">
                        <%= i + 1 %>
                    </div>
                    <div style="margin-left: 35px;">
                        <h6 class="text-md-blue" style="margin-bottom: 5px;"><%= question.title %></h6>
                        <p class="text-light-grey">
                            <strong>Type:</strong> <%= question.format_type %>
                            <% if question.question_type == 'select_all' || question.question_type == 'select_one' %>
                                <br>
                                <strong>Possible Answers:</strong> <%= question.possible_answers %>
                            <% end %>
                        </p>
                    </div>
                </div>
            <% end %>
        </div>

        <!-- responses -->
        <div class="tab-pane fade" id="responses">
            <h4 class="text-md-blue">Responses</h4>
            <% for i in 1..10 do %>
                <div style="margin-bottom: 10px; border-bottom: 1px solid #eee; padding: 0px 10px;">
                    <h6 class="text-md-blue" style="margin-bottom: 5px;">How would you rate your experience?</h6>
                    <span class="text-light-grey">24/28 Responses</span>
                    <div class="progress" style="margin-bottom: 5px;">
                        <div class="progress-bar progress-bar-primary progress-bar-striped" role="progressbar" style="width: 90%">
                            <span class="sr-only">90% Complete (success)</span>
                        </div>
                    </div>
                    <h6 class="text-muted">View Details</h6>
                </div>
            <% end %>
        </div>

        <!-- participants -->
        <div class="tab-pane fade" id="participants">
            <h4 class="text-md-blue">
                Participants
            </h4>
            <table class="table table-striped table-hover">
                <thead>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Company</th>
                    <th>Title</th>
                    <th style="width: 75px;">
                        <a href="#" class="btn-round btn-round-sm btn-round-danger pull-right" style="margin-left: 5px;">
                            <%= material_icon.clear.style('font-size: 16px;') %>
                        </a>
                        <a href="#" class="btn-round btn-round-sm btn-round-primary-simple pull-right">
                            <%= material_icon.email.style('font-size: 16px;') %>
                        </a>
                    </th>
                </thead>
                <% for i in 0..19 %>
                    <tr>
                        <td>
                            <a href="#">Matt Ellis</a>
                        </td>
                        <td>mellis0292@gmail.com</td>
                        <td>NCEES</td>
                        <td>Application Developer</td>
                        <td>
                            <a href="#" class="btn-round btn-round-sm btn-round-danger-simple pull-right" style="margin-left: 5px;">
                                <%= material_icon.clear.style('font-size: 16px;') %>
                            </a>
                            <a href="#" class="btn-round btn-round-sm btn-round-primary pull-right">
                                <%= material_icon.email.style('font-size: 16px;') %>
                            </a>
                        </td>
                    </tr>
                <% end %>
            </table>
        </div>
    </div>
</div>

<script>
    $(function () {
        // donuts
        var colors = Highcharts.getOptions().colors,
        categories = ['MSIE', 'Firefox', 'Chrome', 'Safari', 'Opera'],
        data1 = [{
            color: '#0F2185',
            drilldown: {
                name: 'MSIE versions',
                categories: ['Responses'],
                data: [0.65]
            }
        }, {
            color: '#c2c2c2',
            drilldown: {
                name: 'Firefox versions',
                categories: ['Not Responded'],
                data: [0.35]
            }
        }],
        data2 = [{
            color: '#a93E13',
            drilldown: {
                name: 'Sent Emails',
                categories: ['Sent Emails'],
                data: [0.96]
            }
        }, {
            color: '#c2c2c2',
            drilldown: {
                name: 'Bounced Emails',
                categories: ['Bounced Emails'],
                data: [0.04]
            }
        }],
        responseData = [],
        emailData = [],
        i,
        j,
        dataLen = data1.length,
        drillDataLen,
        brightness;

        // Build the data arrays
        for (i = 0; i < dataLen; i += 1) {
            drillDataLen = data1[i].drilldown.data.length;
            for (j = 0; j < drillDataLen; j += 1) {
                brightness = 0.2 - (j / drillDataLen) / 5;
                responseData.push({
                    name: data1[i].drilldown.categories[j],
                    y: data1[i].drilldown.data[j],
                    color: Highcharts.Color(data1[i].color).brighten(brightness).get()
                });
                emailData.push({
                    name: data2[i].drilldown.categories[j],
                    y: data2[i].drilldown.data[j],
                    color: Highcharts.Color(data2[i].color).brighten(brightness).get()
                });
            }
        }

        // Create the chart
        Highcharts.chart('js-response', {
            chart: {
                type: 'pie',
                backgroundColor: '#fafafa',
                marginTop: 1
            },
            title: {
                text: 'Responses',
                align: 'center',
                verticalAlign: 'bottom',
                floating: true,
                style: {
                    color: '#0F2185',
                    fontSize: '1.3em',
                    fontWeight: 'normal',
                    textTransform: 'none'
                }
            },
            subtitle: {
                text: '14/26',
                align: 'center',
                y: 135,
                style: {
                    color: '#0F2185',
                    fontSize: '2.8em',
                    fontWeight: 'normal',
                    textTransform: 'none'
                }
            },
            credits: false,
            yAxis: {
                title: {
                    text: 'Total percent market share'
                }
            },
            plotOptions: {
                pie: {
                    shadow: false,
                    center: ['50%', '50%']
                }
            },
            tooltip: {
                valueSuffix: '%'
            },
            series: [{
                name: 'Response',
                data: responseData,
                size: '100%',
                innerSize: '90%',
                dataLabels: false
            }]
        });

        // Create the chart
        Highcharts.chart('js-email', {
            chart: {
                type: 'pie',
                backgroundColor: '#fafafa',
                marginTop: 1
            },
            title: {
                text: 'Emails',
                align: 'center',
                verticalAlign: 'bottom',
                floating: true,
                style: {
                    color: '#a93E13',
                    fontSize: '1.3em',
                    fontWeight: 'normal',
                    textTransform: 'none'
                }
            },
            subtitle: {
                text: '25/26',
                align: 'center',
                y: 135,
                style: {
                    color: '#a93E13',
                    fontSize: '2.8em',
                    fontWeight: 'normal',
                    textTransform: 'none'
                }
            },
            credits: false,
            yAxis: {
                title: {
                    text: 'Total percent market share'
                }
            },
            plotOptions: {
                pie: {
                    shadow: false,
                    center: ['50%', '50%']
                }
            },
            tooltip: {
                valueSuffix: '%'
            },
            series: [{
                name: 'Emails',
                data: emailData,
                size: '100%',
                innerSize: '90%',
                dataLabels: false
            }]
        });
    });
</script>
