<%= render "layout" %>

<ol class="breadcrumb">
    <div class="links">
        <%= link_to client_path(@client), method: :delete, class: 'btn-round btn-round-md btn-round-danger' do %>
            <%= material_icon.delete_forever %>
        <% end %>
    </div>
    <li>
        <%= link_to "Clients", client_index_path %>
    </li>
    <li>
        <%= link_to @client, client_path(@client) %>
    </li>
    <li class="active">
        Edit Client
    </li>
</ol>

<h4 class="text-md-blue">Client Details</h4>
<%= bootstrap_form_for @client, url: {action: 'update'} do |f| %>
    <div class="panel panel-default">
        <div class="panel-body">
            <% if @client.errors.any? %>
                <div id="error_explanation">
                    <h4 class="text-danger">
                        <%= pluralize(@client.errors.count, "error") %> prohibited this client from being saved:
                    </h4>
                    <ul>
                        <% @client.errors.full_messages.each do |msg| %>
                            <li class="text-danger"><%= msg %></li>
                        <% end %>
                    </ul>
                </div>
            <% end %>

            <div class="row">
                <div class="col-md-6">
                    <%= f.text_field :first_name, class: "form-control" %>
                    <%= f.text_field :last_name, class: "form-control" %>
                    <%= f.text_field :email, class: "form-control" %>
                </div>
                <div class="col-md-6">
                    <%= f.text_field :phone, class: "form-control" %>
                    <%= f.text_field :title, class: "form-control" %>
                    <%= f.text_field :company, class: "form-control" %>
                </div>
            </div>
            <%= f.submit class: "btn btn-orange" %>
        </div>
    </div>
<% end %>
