<%= render 'survey/layout' %>

<ol class="breadcrumb">
    <li>
        <%= link_to "Surveys", survey_index_path %>
    </li>
    <li>
        <%= link_to @survey, survey_path(@survey) %>
    </li>
    <li class="active">Add Question</li>
</ol>

<h4 class="text-md-blue">Survey Details</h4>
<%= bootstrap_form_for @question, url: {action: 'create'} do |f| %>
    <div class="panel panel-default">
        <div class="panel-body">
            <% if @question.errors.any? %>
                <div id="error_explanation">
                    <h4 class="text-danger">
                        <%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:
                    </h4>
                    <ul>
                        <% @question.errors.full_messages.each do |msg| %>
                            <li class="text-danger"><%= msg %></li>
                        <% end %>
                    </ul>
                </div>
            <% end %>

            <div class="row">
                <div class="col-md-6">
                    <%= f.text_field :title, class: "form-control" %>
                    <%= f.select :question_type, @question.valid_types, class: "form-control", prompt: '-- Select Question Type --' %>
                </div>
                <div class="col-md-6">
                    <%= f.text_area :possible_answers, class: "form-control", label: 'Possible answers (comma seperated)', rows: 4 %>
                </div>
            </div>
            <%= f.submit class: "btn btn-orange" %>
        </div>
    </div>
<% end %>
