<!DOCTYPE html>
<html>
    <head>
        <title>Surveyor</title>
            <%= csrf_meta_tags %>

            <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
            <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>
        <div id="wrapper">
            <!-- main nav -->
            <div class="sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <div class="clearfix text-center">
                        <a href="#" class="navbar-brand">
                            surveyor
                        </a>
                    </div>

                    <div class="sidebar-search">
                        <input type="text" name="search" placeholder="Search...">
                    </div>

                    <ul id="side-menu" class="nav">
                        <li><a href="#"><%= material_icon.dashboard %> Dashboard</a></li>
                        <li><a href="#"><%= material_icon.assignment %> Surveys</a></li>
                        <li><a href="#"><%= material_icon.people %> Clients</a></li>
                        <li><a href="#"><%= material_icon.settings %> Manage</a></li>
                    </ul>
                </div>
            </div>

            <!-- header -->
            <div id="header">
                <div class="profile">
                    <a href="#">
                        <%= material_icon.account_circle.md_36 %>
                    </a>
                </div>
                <%= yield :header_title %>
            </div>

            <!-- content -->
            <div id="content">
                <%= yield %>
            </div>
        </div>
    </body>
</html>
